{% extends "base.html" %}

{% block content %}
    <div class="wrapper">   
  <!-- BEGIN body -->
  <div id="body">
    <!-- BEGIN content -->
    <div id="content">
      <!-- begin post -->
      <div class="recent post">
        <h2>About</h2>
        <p>This is an example of a WordPress page, you could edit this to put information about yourself or your site so readers know where you are coming from. You can create as many pages like this one or sub-pages as you like and manage all of your content inside of WordPress.</p>
      </div>
      <!-- end post -->
    </div>
    <!-- END content -->
    {% include 'sidebar.html' %}
  </div>
  <!-- END body -->
  <div class="break"></div>
</div>
{% endblock %}